*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved
StealthGame/Content/StarterContent
*.VC.db
*/.vsBattleTank/Content/BattleGround_BuiltData.uasset
BattleTank/Content/StarterContent/
BattleTank/Content/Tank/tank_fbx_Barrel.uasset
BattleTank/Content/Tank/
BattleTank/.vs/
